#Auth
api_key.txt

#JSON
post_response.json

#venv
venv
audio_transcriber_venv

#pycache
__pycache__

#Requirement & Test files
test.py
replit


#Audio files
*mp3
*m4a


#Miscellaneous
*replit
*nix
* Transcript.txt
* Summary.txt
poetry.lock
pyproject.toml